*
  box-sizing: border-box
  
body 
  margin: 0
  font-family: monospace , sans-serif
  box-sizing: border-box
.container
  width: 1200px
  margin: auto
  height: 100%
img
  max-width: 100%
.button
  &-empty, &-complete
    transition: 0.4s
    border-radius: 6px
    border: 1px solid #18A0FB
    font-size: 15px
    height: 40px
    width: 130px
  &-empty
    
    background-color: #fff
    color: #4c89dd
    &:hover
      color: #fff
      background-color: #18A0FB
  &-complete
    
    color: #fff
    background-color: #18A0FB
    &:hover
      border: 1px solid #18A0FB
      background-color: #fff
      color: #4c89dd

@media ( max-width: 1200px )
  .container
    width: 760px
@media ( max-width: 768px )
  .container
    width: 560px

@media ( max-width: 768px )
	.container
		max-width: 580px
		width: 90%
